[general]
serverName = {{ inventory_hostname }}
pass4SymmKey = $1$PaTGanils94w

[sslConfig]
sslPassword = $1$auiSNj3j+Iww

[lmpool:auto_generated_pool_download-trial]
description = auto_generated_pool_download-trial
quota = MAX
slaves = *
stack_id = download-trial

[lmpool:auto_generated_pool_forwarder]
description = auto_generated_pool_forwarder
quota = MAX
slaves = *
stack_id = forwarder

[lmpool:auto_generated_pool_free]
description = auto_generated_pool_free
quota = MAX
slaves = *
stack_id = free

[shclustering]
pass4SymmKey = {{ sh_cluster_password }}
shcluster_label = {{ sh_cluster_label }}